a:hover{
    background: magenta;
}
.button {
    background-color: crimson;
    color: black;
    size: 32px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;

}
body {
    background-color: darkslategray;

}
p {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: black;
}
.list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
}
h5 {
    font-size: 32px;
    color: red;
}
h1 {
    color: red;

}
.button2 {
    color: black;
    background-color: green;
}
h2 {
    color: hotpink;
    padding-top: 30px;
    margin-left: 10px;
    
}
#hockey-pic {
    width: 500px;
    height: 400px;
}
#brew-pic {
    width: 500px;
    height: 400px;
}
#day-pic {
    width: 500px;
    height: 400px;
}
#burger-pic {
    width: 500px;
    height: 400px;
}
#nicholas {
    width: 400px;
    height: 400px;
}
a {
    color: black;
}